@import 'vars';

.MenuMobile {
  padding: 24px;
  background-color: white;
  position: absolute;
  z-index: 1;
  width: 95%;
  left: 0;
  // top: 15px;
}

.MenuMobile figure {
  margin: 0;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.MenuMobile figure .close {
  width: 15px;
  cursor: pointer;
}

.MenuMobile button {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: $--black;
  font-weight: bold;
  cursor: pointer;
  /* margin-bottom: 24px; */
}
.MenuMobile ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.MenuMobile ul:nth-child(1) {
  border-bottom: 1px solid $--very-light-pink;
}
.MenuMobile ul li {
  margin-bottom: 24px;
}
.MenuMobile ul li .email {
  font-size: $--sm;
  font-weight: 300;
}
.MenuMobile ul li .sign-out {
  font-size: $--sm;
  color: $--hospital-green;
  font-weight: bold;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
